*{
    box-sizing: border-box;
    border:1px solid green;

}

html{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
    background-color: rgb(223, 223, 223);
}

section{
    border-bottom: 2px solid white;
    margin-bottom: 30px;
}

#header{
    position: sticky;
    top:0;
    left:0;
display:flex;
width:100%;
background-color: black;
margin-bottom: 20px;

}

.nav-link{
    text-decoration: none;
    color:white;
   font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid white;
    border-left:1px solid white;
    align-items: center;
}

.nav-bar{
display:flex;
width:80%;
justify-content: flex-end;

   
}

.nav-link:hover{
    color:white;
    background-color: rgb(56, 56, 56);
}

.logo{
    width:20%;
}

.video-section{
display: flex;
flex-direction: column;
padding:10px auto;

}

legend{
    text-align: center;
}
.video{
    max-width: 100%;
    margin:0 auto;   
}

p, legend{
    text-align: center;
    margin-top: 10px;
}
h1{
    text-align: center;
    margin-top:10px;
    font-size: 1.8rem;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.new-service{
    margin:20px;
    display: block;
    width:300px;
    height:300px;
    background-color: rgb(214, 214, 214);
}

.service-image{
    width:300px;
    height:250px;
}



.service-description{
    display: block;
    margin-top:13px;
  text-align: center;

}


@media  (max-width:800px) {
    .new-service{

        width:150px;
        height:150px;

    }
    
    .service-image{
        width:150px;
        height:100px;
    }
    
    .service-description{

      font-size: 0.8rem;
    
}


#form > input{
    display:block;
    text-align: left;
    margin:0 auto;
    width:25%;
    padding:3px;
    min-width: 200px;
    
}

#form > label{
    display:block;
    text-align: left;
    margin:10px auto 0 auto;
    width:25%;
    padding:3px;
    min-width: 200px;
}

#form > .submit-button{
    margin:10px auto 10px auto;
    width:50px;

}