:root{
    --standardGrey:lightslategray;
    --darkerGrey:darkslategray;
    --shadeOfBlue: rgb(70, 70, 105);
    --selectableSize:400px;


}


*{  
scroll-behavior: smooth;
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
box-sizing: border-box;
/**border: 1px solid green;**/
}

a, a:visited{   
    color: yellow;
}


p{
    text-align: center;
}

body{
margin:0;
background-color: black;
color: white;
font-style:normal;
}


section{
    margin:110px auto 50px auto;
    padding:40px;
    background-color: var(--darkerGrey); 
    border-radius: 10px;
    width:80%;
    min-width:250px;
}

#navbar{
    z-index:2;
}



#welcome-section{
height: 100vh;
width:100%;
margin: 0;
border-radius: 0;
}

h1 { 
    font-weight: normal;
    font-size: 5rem; 
}
.myName{
    display: block;
    margin:10% auto;
    text-align: center;
    border-style:none;
    height:auto;
   
}

.myName>i{
    display:block;
    margin:0 auto;
    width:90%;
    font-size: 1.3rem;
    color: wheat;
}

.myProjects{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    vertical-align: middle;
}

.myProjects>.selectable{
    margin:20px;
    border-radius: 10px;
    background-color:black;
    position: relative;
    min-width: 250px;
    min-height:250px;     
   
}

img{
    position: absolute;  

    padding:10px;
    width:100%;
    height:100%;
}
.selectable>a{
    text-decoration: none;
    border-radius: 20px;
position: absolute;
display: flex;
flex-direction: column;
padding: 10px;
   text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
   color:transparent;
   transition-duration: 0.5s;
    
}

.myProjects>.selectable>a:hover{
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 20px;
   background-color:black;
   opacity: 0.9;
    color: white;
    font-weight: bold;
}




h2{
   
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

@media (min-width:450px) { 
 .nav-logo{
    display:none;
 }   
    
 #navbar{
     display: block;
    position: fixed;
    top:0;
    left:0;
    background-color:lightslategray;
    height:50px;
    width:100%;
    padding:0;
}


#navbar > a{
    transition-duration: 0.2s;
   float: left;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top:14px;
    width:100px;     
}

#navbar>a.end{
float: right;
background-color:var(--shadeOfBlue);
}

#navbar>a.menu-close{
    display: none;
    background-color: red;
}

}
@media (max-width:450px){

    .myProjects>.selectable>a{
        text-decoration: none;
        transition-duration: 0.5s;
        border-radius: 20px;
       background-color:black;
       opacity: 0.7;
        color: white;
        font-weight: bold;
    }

.myName{
    margin-top: 10px;
}


    .nav-logo{
        position:fixed;
        top:0;
        display:block;
     }   

     .nav-logo:hover{
        color: grey;
     }

   
     #navbar{
        display:none;
        /**  display: inline-block;**/
        position: fixed;
        top:0;
        left:0;
        background-color:lightslategray;
 
        width:100%;
        padding:0;
    }
    
    
    #navbar > a{
        display:block;
        height: 100%;
        text-decoration: none;
        color: white;
        text-align: center;
        padding-top:14px;
        padding-bottom: 14px;
        width:100%;     
    }

    #navbar>a.menu-close{
        display: block;
        background-color: red;
    }
    #navbar>a.menu-close:hover{
        display: block;
        background-color: darkred;
    }

    h1 { 
        font-weight: normal;
        font-size: 3rem; 
    }




}

#navbar > a:hover{

    background-color:var(--shadeOfBlue);
    font-size: 1.1rem;
}
